<div class="container">
    <center>
        <h1>Artículos sobre gatos</h1>
    </center>
    <div class="card bg-dark text-white">
        <img class="card-img" src="/images/gatos.jpg" alt="Card image">
    </div>
    <br>
    <tr>
        <a href="" class="btn btn-success" data-toggle="modal" data-target="#ModalAgregar"><img
                src="/images/agregar.jpg" width="30" height="30">
            Agregar</a>
        <!-- Modal agregar-->
        <div class="modal fade" id="ModalAgregar" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Artículos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/articulos/agregar_articulos" method="post">
                            <div class="form-group">
                                <label for="servicio">Nombre</label>
                                <input type="text" name="nombre_ag"  class="form-control" id="id">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Descripcion del articulo:</label>
                                <textarea class="form-control" name="articulo_g" id="message-text" rows="8"
                                    cols="10"></textarea>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </tr>
    {{#each mostrarTodo}}
    <div class="card">
        <h5 class="card-header"><img src="/images/icono1.png" width="30" height="30"> {{nombre_ag}}</h5>
        <div class="card-body">
            <p class="card-text">{{articulo_g}}</p>
            <a href="" data-toggle="modal" data-target="#ModalEditar{{id_ag}}" class="btn btn-info">
                <img src="/images/editar.jpg" width="30" height="30">
            </a>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modalEliminar{{id_ag}}"><img
                    src="/images/eliminar.jpg" width="30" height="30"></a>
        </div>
        <!-- Modal-->
        <div class="modal fade" id="ModalEditar{{id_ag}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/articulos/modificar_articulos/{{id_ag}}" method="post">
                            <div class="form-group">
                                <input type="hidden" value="{{id_ag}}" class="form-control" id="id">
                            </div>
                            <div class="form-group">
                                <label for="servicio">Nombre</label>
                                <input type="text" name="nombre_ag" value="{{nombre_ag}}" class="form-control" id="id">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Descripcion del articulo:</label>
                                <textarea class="form-control" name="articulo_g" id="message-text" rows="8"
                                    cols="10">{{articulo_g}}</textarea>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Eliminar-->
        <div class="modal fade" id="modalEliminar{{id_ag}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Esta seguro que desea eliminar?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <a href="delete/{{id_ag}}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {{/each}}
</div>
<br>
<div class="card bg-light">
    <div class="card-body">
        <center>
            URGENCIAS VETERINARIAS 24 HRS: 5360-3311 Y 5240-0404 | CONTACTO | MAPA DEL SITIO | AVISO DE PRIVACIDAD |
            Síguenos en: <img src="/images/face.jpg" width="30" height="30"> <img src="/images/instagram.jpg" width="30"
                height="30"> <img src="/images/twiter.jpg" width="30" height="30">

        </center>
    </div>
</div>