<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
           <div class="card">
               <div class="card-bady">
                   <h1>Lista de citas de veterinaria</h1>
                     
               </div>
           </div> 
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <table class="table table-dark">
                    <h1>Citas</h1>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">CC</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Mascota</th>
                            <th scope="col">descripcion</th>
                            <th scope="col">fecha</th>
                            <th scope="col">Tipo de cita</th>
                             <th scope="col">*</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#each usua}}
                        <tr>
                            <th scope="row">{{id_citas}}</th>
                            <td>{{CC}}</td>
                            <td>{{Nombre}}</td>
                            <td>{{Telefono}}</td>
                            <td>{{mascota}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{fecha}}</td>
                            <td>{{tipo}}</td>
                            <td><a href="update/{{id}}" class="btn btn-info">modificar fecha</a></td>
                            <td><a href="delete/{{id}}" class="btn btn-danger">cancelar cita</a></td>
                        </tr>
                         {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>